mat-toolbar{
    margin-top: 25px;
}
a{
  text-decoration: none;
  display: block;
  text-align: center;
  text-shadow:10cqmax;
  padding-top: 14px;
}
a:Click{
  text-decoration: none;
}
a{
   height: 100%;
   width: 100%;
}
a:hover{
  background-color:rgb(156, 127, 137)
}
button{
  margin: 5%;
}
